<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta content="IE=edge" http-equiv="X-UA-Compatible">
  <meta content="width=device-width,initial-scale=1" name="viewport">
  <meta content="description" name="description">
  <meta name="google" content="notranslate" />
  <meta content="portfolio" name="SimranKaurVohra">

  <!-- Disable tap highlight on IE -->
  <meta name="msapplication-tap-highlight" content="no">
  
  <link href="./static/assets/apple-touch-icon.png" rel="apple-touch-icon">
  <link href="./static/smurf.ico" rel="icon">

 

  <title>SIMRAN KAUR VOHRA</title>  

<link href="./static/main.a3f694c0.css" rel="stylesheet"></head>

<body>

 <!-- Add your content of header -->
<header>
  <nav class="navbar  navbar-fixed-top navbar-default">
    <div class="container">
      <div class="navbar-header">
        <button type="button" class="navbar-toggle uarr collapsed" data-toggle="collapse" data-target="#navbar-collapse-uarr">
          <span class="sr-only">Toggle navigation</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
        <a class="navbar-brand" href="./index.html" title="">
          <img src="./static/assets/images/mashuptemplate.svg" class="navbar-logo-img" alt="">
        </a>
      </div>

      <div class="collapse navbar-collapse" id="navbar-collapse-uarr">
        <ul class="nav navbar-nav navbar-right">
          <li><a href="./index.html" title="" class="active">Home</a></li>
          <li><a href="./experience.html" title=""> Experience </a></li>
          <li><a href="./contact.html" title="">Contact</a></li>
         
        </ul>
      </div>
    </div>
  </nav>
</header>




<div class="section-container">
    <div class="container">
        <div class="row section-container-spacer">
            <div class="col-xs-12">
                <div class="text-center">
                    <h1>My Experience</h1>
                </div>
                <div class="col-md-8 col-md-offset-2">
                  <h3>Created some Python based projects:</h3>
                  <li style="color:navy ;font-family:georgia,garamond,serif;font-size:15px;font-style:italic;">
                  Password checker program with passwords in a text file, to check if password is ever hacked !!!</li>
                    <h2>IT industry:</h2>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-md-4">
                <div class="pricing-card pricing-primary">
                    <h3>Intel GmbH</h3>
                    <p>Software Engineer, Munich(Germany), Jul17-Apr19</p>
                </div>
                <div class="pricing-features">
                    <ul class="features">
                        <li style="color:navy ;font-family:georgia,garamond,serif;font-size:15px;font-style:italic;">
                        Received recognition for contribution in successful Project release.</li>
                        <li style="color:navy ;font-family:georgia,garamond,serif;font-size:15px;font-style:italic;">
                        Responsible for the introduction of advanced and innovative methods for software verification, reduction of software errors before hardware chip availability(pre-silicon).</li>
                        <li style="color:navy ;font-family:georgia,garamond,serif;font-size:15px;font-style:italic;">
                        Responsible for writing test cases based on 3GPP specification for new features in pre-silicon phase.</li>
                        <li style="color:navy ;font-family:georgia,garamond,serif;font-size:15px;font-style:italic;">
                        Provide solutions for bugs and involved in formal software development processes.</li>
                        <li style="color:navy ;font-family:georgia,garamond,serif;font-size:15px;font-style:italic;">
                        Executed test case scripts using Address Sanitizer(ASan). Corrected scripts written in C language based on ASan results.</li>
                    </ul>
                </div>
            </div>
            <div class="col-md-4">
                <div class="pricing-card pricing-info">
                    <h3>Intel GmbH</h3>
                    <p>System Validation Engineer, Munich(Germany), Oct15-Jul17</p>
                </div>
                <div class="pricing-features">
                    <ul class="features">
                        <li style="color:navy ;font-family:georgia,garamond,serif;font-size:15px;font-style:italic;">
                        Handled team of 8 members in London, UK as field testing lead.</li>
                        <li style="color:navy ;font-family:georgia,garamond,serif;font-size:15px;font-style:italic;">
                        Field test engineer for company’s main customers, including work on the latest corporate platform.</li>
                        <li style="color:navy ;font-family:georgia,garamond,serif;font-size:15px;font-style:italic;">
                        Implementation of test plan for software analysis and creation of test standards and procedures.</li>
                        <li style="color:navy ;font-family:georgia,garamond,serif;font-size:15px;font-style:italic;">
                        Maintenance of documentation of test results to support troubleshooting and modification of software.</li>
                        <li style="color:navy ;font-family:georgia,garamond,serif;font-size:15px;font-style:italic;">
                        Analysis of test results to ensure proper operation</li>
                        <li style="color:navy ;font-family:georgia,garamond,serif;font-size:15px;font-style:italic;">
                        Performed release Verification test, KPI testing, regression testing, feature verification testing that aims at measuring the performance of platform in terms of features like CA, CSFB, Data call Drop, Multi-RAB Drop, Throughput- Uplink / Downlink, Network recovery.</li>
                    </ul>
                </div>
            </div>
            <div class="col-md-4">
                <div class="pricing-card pricing-secondary">
                    <h3>L&T Technology Services Limited</h3>
                    <p>Software Engineer, Munich(Germany),Bangalore(India), Jul13-Sep15</p>
                </div>
                <div class="pricing-features">
                    <ul class="features">
                        <li style="color:navy ;font-family:georgia,garamond,serif;font-size:15px;font-style:italic;">
                        Field Testing of final form factor-Release Verification test, KPI testing, Regression testing, Feature verification testing that aims at measuring the performance of platform in terms of CSFB, Data call Drop, Multi-RAB Drop, Throughput- Uplink / Downlink, Network recovery</li>
                        <li style="color:navy ;font-family:georgia,garamond,serif;font-size:15px;font-style:italic;">
                        Perform end to end system testing involving multiple products.</li>
                        <li style="color:navy ;font-family:georgia,garamond,serif;font-size:15px;font-style:italic;">
                        Responsible for reporting defects during System Testing</li>
                        <li style="color:navy ;font-family:georgia,garamond,serif;font-size:15px;font-style:italic;">
                        Documentation of Test plan, identification of test cases and execution of test cases.</li>
                        <li style="color:navy ;font-family:georgia,garamond,serif;font-size:15px;font-style:italic;">
                        Primary level UE and Network log analysis, Bug reporting, tracking and fix verification, Issue reproduction and fix verification for the issues raised by QA.</li>
                    </ul>
                
              </div>
            </div>
<div class="section-container">
    <div class="container">
        <div class="row section-container-spacer">
            <div class="col-xs-12">
                <div class="col-md-8 col-md-offset-2">
                  <h2>Non-IT industry:</h2>
                  <li style="color:navy ;font-family:georgia,garamond,serif;font-size:15px;font-style:italic;">
                  Before entering IT field, I worked with my father for 3 years in establishing our company in field of medicines. 
                      My job mainly involved interacting with clients, handling accounts and dispatches</li>
                </div>
            </div> 
        </div>
 


<footer>
    <div class="section-container footer-container">
        <div class="container">
            <div class="row">
                    <div class="col-md-4">
                        <h4>About Me</h4>
                        <p>With 8+ years in IT industry, exploring the industry.</p>
                    </div>

                    <div class="col-md-4">
                        <h4>Connect with me on Linkedin</h4>
                        <p>
                          <a href="https://www.linkedin.com/in/simran-kaur-vohra-731bb73a/" class="social-round-icon white-round-icon fa-icon" title="">
                            <i class="fa fa-linkedin" aria-hidden="true"></i>
                          </a>
                        </p>
                      </div>

            </div>
        </div>
    </div>
</footer>

<script>
  document.addEventListener("DOMContentLoaded", function (event) {
    navActivePage();
  });
</script>

<!-- Google Analytics: change UA-XXXXX-X to be your site's ID 

<script>
  (function (i, s, o, g, r, a, m) {
    i['GoogleAnalyticsObject'] = r; i[r] = i[r] || function () {
      (i[r].q = i[r].q || []).push(arguments)
    }, i[r].l = 1 * new Date(); a = s.createElement(o),
      m = s.getElementsByTagName(o)[0]; a.async = 1; a.src = g; m.parentNode.insertBefore(a, m)
  })(window, document, 'script', '//www.google-analytics.com/analytics.js', 'ga');
  ga('create', 'UA-XXXXX-X', 'auto');
  ga('send', 'pageview');
</script>

--> 
<script type="text/javascript" src="./static/main.41beeca9.js"></script></body>

</html>